.gallery__img {
    display: block;    
    object-fit: contain;
    object-position: center;        
    width: 100%;
    /*
    //WebKit-based browsers will ignore this.
    width: -moz-available;          

    //Mozilla-based browsers will ignore this.
    width: -webkit-fill-available;
    width: fill-available; */
}