.header__links {
    grid-area: 1/1;
    margin-left: 50px;

    display: flex;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 768px) {

    .header__links {
        opacity: 0;
        visibility: hidden;
        gap: calc(16px + 4 * (100vw - 320px) / (768 - 320));
        margin-left: calc(20px + (50 - 20) * (100vw - 320px) / (768 - 320));
    }
}

@media screen and (max-width: 320px) {

    .header__links {
        gap: 16px;  
        margin-left: 20px;
    }
}