.header__menu {
    opacity: 0;
    visibility: hidden;    
    justify-self: flex-end;
    margin-right: 34px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: inherit;
    justify-content: center;
    cursor: pointer;
    transition: opacity .3s ease-out;
}

.header__menu:hover {
    opacity: .6;
}

@media screen and (max-width: 768px) {
    .header__menu {        
        opacity: 1;
        visibility: visible;      
        margin-right: calc(12px + (12 - 20) * (100vw - 320px) / (768 - 320)); 
    }    
}


@media screen and (max-width: 320px){
    .header__menu {
        gap: 8px;
        margin-right: 12px;
    }
}