.intro__main-picture {
    display: block;
    width: 720px;
    height: 540px;
    object-fit: contain;
    object-position: center;


    @media screen and (max-width: 1440px) {
        width: calc(700px + 20 * (100vw - 1200px) / (1440 - 1200));
        height: calc(510px + 30 * (100vw - 1200px) / (1440 - 1200));
        
    }

    @media screen and (max-width: 1200px) {
        width: 700px;
        height: 510px;        
        margin-top: 100px;
    }

    @media screen and (max-width: 768px) {
        width: calc(280px + (700 - 280) * (100vw - 320px) / (768 - 320));
        height: calc(202px + (510 - 202) * (100vw - 320px) / (768 - 320));        
        margin-top: 100px;
    }


    @media screen and (max-width: 320px) {
        width: 280px;
        height: 202px        
    }

}