.subsctiption__subtitle {
    margin: 0;
    padding-top: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 28px;

    @media screen and (max-width: 768px) {
        font-size: calc(14px + (19 - 14) * (100vw - 320px) / (768 - 320));        
        line-height: calc(14px + (28 - 14) * (100vw - 320px) / (768 - 320));        ;
    }
}