.header__logo {
    display: block;
    width: 184px;
    height: 38px;
    justify-self: center;
}

@media screen and (max-width: 768px){
    .header__logo{
        width: calc(100px + (184 - 100) * (100vw - 320px) / (768 - 320));
        height: calc(20px + (38 - 20) * (100vw - 320px) / (768 - 320));
    }    
}


@media screen and (max-width: 320px){
    .header__logo{
        width: 100px;
        height: 20px;
    }    
}