.header {
    margin: 0;
    padding: 16px 0 16px 0;
    width: 100%;
    border-bottom: var(--color-text-primary) 1px solid;


    position: sticky;
    top: 0;
    z-index: 2;
    background-color: inherit;

    display: grid;
    grid-template-columns: 1fr;

    @media screen and (max-width: 500px) {
        padding-top: 25px;
        padding-bottom: 25px;        
    }
}