.header__close-menu {        
    margin: 0;
    margin-right: 34px;
    opacity: 0;
    visibility: hidden;
    justify-self: flex-end;
    width: 26px;
    height: 26px;
    background-image: url(../images/button_close.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: opacity .3s ease-out;
}

.header__close-menu:hover {
    opacity: .6;
}

@media screen and (max-width: 768px) {
    .header__close-menu{
        margin-right: calc(12px + (12 - 20) * (100vw - 320px) / (768 - 320));
    }    
}

@media screen and (max-width: 320px) {
    .header__close-menu{
        margin-right: 12px;
    }    
}